<div class='container px-5 px-sm-0'>
  <div class='row'>
    <ul class="tab-list list-unstyled">
      <li class="tab tab-active">
        カレンダー
      </li>
      <li class="tab">
        登録済みサブスク
      </li>
    </ul>
    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <h1><%= @user.name %>のカレンダー</h1>
        <%= render 'calender', subscriptions: @subsc_calender, user: @user %>
      </div>
      <div class="tabbox">
        <%= render 'public/subscriptions/index', subscriptions: @subscriptions, user: @user %>
      </div>
    </div>
  </div>
</div>