<div class="d-flex flex-column flex-shrink-0 pe-lg-3 pe-2 p-xl-3 border-end full-height">
  <a class="navbar-brand" href="/"><span class="d-none d-xl-block fs-4">管理者</span></a>
  <hr>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item w-100">
      <%= link_to admin_subscriptions_path,class: 'btn btn-hover rounded-pill d-flex align-items-center text-reset text-start fs-3 fw-bold my-1 w-100' do %>
        <i class="fas fa-list-alt"></i><span class="d-none d-xl-block ms-1">サブスク</span>
      <% end %>
    </li>
    <li class="nav-item w-100">
      <%= link_to admin_companies_path,class: 'btn btn-hover rounded-pill d-flex align-items-center text-reset text-start fs-3 fw-bold my-1 w-100' do %>
        <i class="fas fa-users"></i><span class="d-none d-xl-block ms-1">会社</span>
      <% end %>
    </li>
    <li class="nav-item w-100">
      <button type="button" class="btn btn-primary rounded-pill btn_shadow w-100 my-3 py-2" data-bs-toggle="modal" data-bs-target="#adminSubscriptionModal">
        <span class="d-none d-xl-block">サブスク登録</span>
        <i class="fas fa-plus d-xl-none d-xl-block" style="color: #ffffff;"></i>
      </button>
      <div class="modal fade" id="adminSubscriptionModal" tabindex="-1" aria-labelledby="adminSubscriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content p-3">
            <%= render 'admin/subscriptions/new_form', subsc: @admin_subsc_new %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>