<nav class="navbar navbar-expand navbar-light bg-light" style="height: 50px;">
  <div class="container-fluid">
    <ul class="navbar-nav justify-content-between w-100 px-3">
      <li class="nav-item">
        <%= link_to admin_subscriptions_path, class: 'btn btn-hover rounded-pill d-flex justify-content-center text-reset fs-3 fw-bold w-100' do %>
          <i class="fas fa-list-alt"></i><span class="d-none d-xl-block">サブスク</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_companies_path, class: 'btn btn-hover rounded-pill d-flex justify-content-center text-reset fs-3 fw-bold w-100' do %>
          <i class="fas fa-building"></i><span class="d-none d-xl-block">会社</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_categories_path, class: 'btn btn-hover rounded-pill d-flex justify-content-center text-reset fs-3 fw-bold w-100' do %>
          <i class="fas fa-list"></i><span class="d-none d-xl-block">カテゴリー</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_session_path, method: :delete, class: 'btn btn-hover rounded-pill d-flex justify-content-center text-reset fs-3 fw-bold w-100' do %>
          <i class="fas fa-sign-out-alt"></i><span class="d-none d-xl-block">ログアウト</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>