<div class="d-flex flex-column flex-shrink-0 pe-lg-3 pe-2 p-xl-3 border-end full-height">
  <a class="navbar-brand text-reset" href="/"><span class="d-none d-xl-block fs-4">管理者</span></a>
  <hr>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item w-100">
      <%= link_to admin_subscriptions_path, class: 'btn btn-hover rounded-pill d-flex align-items-center fs-4 fw-bold my-1 w-100' do %>
        <i class="fas fa-list-alt"></i><span class="d-none d-lg-block ms-1">サブスク</span>
      <% end %>
    </li>
    <li class="nav-item w-100">
      <%= link_to admin_companies_path, class: 'btn btn-hover rounded-pill d-flex align-items-center fs-4 fw-bold my-1 w-100' do %>
        <i class="fas fa-building"></i><span class="d-none d-lg-block ms-1">会社</span>
      <% end %>
    </li>
    <li class="nav-item w-100">
      <%= link_to admin_categories_path, class: 'btn btn-hover rounded-pill d-flex align-items-center fs-4 fw-bold my-1 w-100' do %>
        <i class="fas fa-list"></i><span class="d-none d-lg-block ms-1">カテゴリー</span>
      <% end %>
    </li>
    <li class="nav-item w-100">
      <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-hover rounded-pill d-flex align-items-center fs-4 fw-bold my-1 w-100' do %>
        <i class="fas fa-sign-out-alt"></i><span class="d-none d-lg-block ms-1">ログアウト</span>
      <% end %>
    </li>
  </ul>
</div>