<footer class="d-flex flex-column ps-3 border-start h-100">
	<%= form_with url: subscriptions_search_path, method: :get do |f| %>
		<div class="input-group mb-4 p-3">
			<%= f.text_field :keyword, id: "search", placeholder: "サブスク検索", class: "form-control col-9" %>
			<%= button_tag type: "submit", class: "btn btn-primary col-3" do %>
				<i class="fas fa-search"></i>
			<% end %>
		</div>
	<% end %>

	<div>
		<h3>人気のサブスク</h3>
		<% @top_subscriptions.each do |subsc| %>
			<%= render 'public/subscriptions/card_horizontal', subsc: subsc %>
		<% end %>
	</div>
	<div class="d-flex justify-content-center mt-auto">
		<p>CopyRight Sota Aoyagi</p>
	</div>
</footer>