<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav justify-content-between w-100">
      <li class="nav-item w-25">
        <%= link_to user_path(current_user), class: 'btn btn-hover rounded-pill d-flex justify-content-center text-reset fs-3 fw-bold w-100' do %>
          <i class="fas fa-home"></i><span class="d-none d-xl-block">ホーム</span>
        <% end %>
      </li>
      <li class="nav-item w-25">
        <%= link_to subscriptions_path,class: 'btn btn-hover rounded-pill d-flex justify-content-center text-reset fs-3 fw-bold w-100' do %>
          <i class="fas fa-list-alt"></i><span class="d-none d-xl-block">サブスク</span>
        <% end %>
      </li>
      <li class="nav-item w-25">
        <%= link_to user_relationships_path(current_user),class: 'btn btn-hover rounded-pill d-flex justify-content-center text-reset fs-3 fw-bold w-100' do %>
          <i class="fas fa-users"></i><span class="d-none d-xl-block">ユーザー</span>
        <% end %>
      </li>
      <li class="nav-item text-center w-25">
        <button type="button" class="btn btn-primary rounded-pill btn_shadow" data-bs-toggle="modal" data-bs-target="#formModal">
          <span class="d-none d-xl-block">サブスク登録</span>
          <i class="fas fa-plus d-xl-none d-xl-block" style="color: #ffffff;"></i>
        </button>
        <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content p-3">
              <%= render 'public/subscriptions/new_form', subsc: @subsc_new %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>